.player {
    width: 200px;
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: rgb(50, 50, 50, 0.8);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    span {
        font-size: 32px;
    }
}

.img-profile {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
}

.player-active {
    background-color: orange !important;
    z-index: 2;
}

.txt-player {
    overflow-x: auto; 
    height: 50px; 
    width: 90px;
    display: flex; 
    align-items: center; 
    margin-right: 10px;
}

.img-trash {
    width: 25px; 
    height: auto; 
    cursor: pointer;

    &:hover {
        filter: brightness(0.8);
    }
}

@media (max-width: 950px) {
    .player {
        width: 200px !important;
    }
}