.start-screen {
    background: url("/assets/img/board.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    max-width: 100%; //no horizontal scrollbar
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100vh;
        animation: fade-in 800ms 200ms backwards;
    }

    @keyframes fade-in {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
}

.start-label-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    display: flex;
    justify-content: center;

    img {
        width: 40vw;
        height: auto; //adjust to width in proper relation

        &:hover {
            filter: brightness(1.25);
            cursor: pointer;
        }
    }
}

.img-startbox {
    max-width: 100%;
}

@media (max-width: 550px) {
    .img-startbox {
        height: 400px !important;
    }

    .start-label-box {
        bottom: 200px;
    }
}