.div-field {
    width: 100vw;
    height: 100vh;
    max-width: 100%; //no scrollbar
    background-image: url("/assets/img/board.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-down {
    position: fixed;
    top: 27.5px;
    right: 0px;
    font-size: 40px;
    color: white;
    height: 25px;
    width: auto;
    z-index: 2;
    cursor: pointer;
}

.d-none {
    display: none;
}

.d-none-dropdown {
    display: none;
}

.d-show {
    display: unset;
}

.card-stack {
    position: relative; //for [ngStyle]
    display: flex;
    justify-content: center;
    z-index: 2;

    img {
        position: absolute;
        width: 120px;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}

.played-card {
    right: 25px;
    transform: scale(1.3) translateX(190px) translateY(-180px) rotate(-10deg);
}

.pick-card {
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.3) translateX(120px) translateY(-180px) rotate(-10deg); //so the card gets stopped there
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.7);
    }
    60% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1.3) translateX(120px) translateY(-180px) rotate(-10deg);
    }
}

.player-position {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 10px;
}

.btn-add {
    position: absolute;
    right: 32px;
    bottom: 48px;

    &:hover {
        transform: scale(1.1);
    }
}

.animation-grabAttention {
    animation: jump 1s forwards cubic-bezier(0.84, -0.54, 0.31, 1.19);
}

.player-scrollable {
    height: 70px;
    width: 200px;
    overflow-y: auto;
    top: 20px;
    position: absolute;
    right: 0;

    &::-webkit-scrollbar {
        width: 1px;
    }
}

.allPlayers {
    height: 410px;
    width: 200px;
    overflow-y: auto;
    top: 100px;
    position: absolute;
    right: 0;

    &::-webkit-scrollbar {
        width: 1px;
    }
}

.allPlayers2 {
    height: 410px;
    width: 200px;
    overflow-y: auto;
    top: 100px;
    position: absolute;
    z-index: 3;
    right: 0;

    &::-webkit-scrollbar {
        width: 1px;
    }
}

@keyframes jump {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-2em);
    }
}

.pin-bottom {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
}

@media (max-width: 935px) {
    .pin-bottom {
        left: 20px;
    }

    .div-title {
        overflow-y: auto;
    }

    .played-card {
        transform: scale(1.3) translateX(150px) translateY(-180px) rotate(-10deg);
    }

    @keyframes pick-card-animation {
        0% {
            transform: scale(1);
        }
        40% {
            transform: scale(1.7);
        }
        60% {
            transform: scale(1.7);
        }
        100% {
            transform: scale(1.3) translateX(80px) translateY(-180px) rotate(-10deg);
        }
    }
}

@media (max-width: 830px) {
    .played-card {
        transform: scale(1.3) translateX(69px) translateY(-152.5px) rotate(-10deg);
    }

    @keyframes pick-card-animation {
        0% {
            transform: scale(1);
        }
        40% {
            transform: scale(1.7);
        }
        60% {
            transform: scale(1.7);
        }
        100% {
            transform: scale(1.3) translateX(0px) translateY(-152.5px) rotate(-10deg);
        }
    }

    .card-stack img {
        width: 105px;
    }
}

@media (max-width: 620px) {
    .allPlayers {
        display: none;
    }

    .d-none-dropdown {
        display: unset;
    }
}

@media (max-width: 490px) {
    .pin-bottom {
        left: 20px;
    }
}
