.img-animals {
    height: auto;
    width: 35px;
    cursor: pointer;
    margin: 5px;

    &:hover {
        filter: brightness(1.1);
    }
}

.img-duck {
    background: url("https://img.icons8.com/office/344/duck.png");
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}

.img-pig {
    background: url("https://img.icons8.com/office/2x/pig.png");
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}

.img-unicorn {
    background: url("https://img.icons8.com/office/2x/unicorn.png");
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}

.img-wolf {
    background: url("https://img.icons8.com/office/2x/wolf.png");
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}

.img-teddy {
    background: url("https://img.icons8.com/office/2x/teddy-bear.png");
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}

.img-cat {
    background: url("https://img.icons8.com/office/2x/cat-butt.png");
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}

.img-sheep {
    background: url("https://img.icons8.com/office/2x/sheep.png");
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}

.img-elephant {
    background: url("https://img.icons8.com/office/2x/elephant.png");
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}

.img-rabbit {
    background: url("https://img.icons8.com/office/2x/year-of-rabbit.png");
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}

.profilePictureSelected {
    background: #3F51B5;
    border-radius: 100px;
    padding: 2.5px;
    margin: 2.5px;
}

.option-field {
    height: 75px !important;

    div {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
}

@media (max-width: 300px) {
    .div-name {
        width: 90%;
    }
}