<!-- angular material dialog-overview-example-dialog.html -->
<h1 mat-dialog-title>Add new player</h1>

<div mat-dialog-content style="display: flex; flex-direction: column;">
  <p>Please enter the name of the player</p>

  <mat-form-field class="div-name" appearance="fill">
    <mat-label>Name</mat-label>
    <input (keydown)="filterInput()" matInput [(ngModel)]="gameVariable.name">
    <!-- document.getElementById('').value -->
  </mat-form-field>

  <mat-form-field>
    <p>Please choose the animal of the player</p>
    <mat-select [(ngModel)]="gameVariable.animal" style="background-color: #F5F5F5; border-radius: 10px; padding: 10px 0px">
      <ng-container *ngFor="let profilePicture of allProfilePictures; let i = index">
        <mat-option value="{{profilePicture}}" class="option-field">
          <div>
            <img src="assets/img/pictures/{{profilePicture}}">
          </div>
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <div class="img-duck">
    test
  </div>

  <!-- <div style="display: flex; flex-wrap: wrap; width: 200px; justify-content: center;">
    <img *ngFor="let profilePicture of allProfilePictures; let i = index" src="assets/img/pictures/{{profilePicture}}"
      (click)="selectProfilePicture(i)" [ngClass]="{ 'profilePictureSelected' : selectedIndex === i }"
      class="img-animals" ngDefaultControl [(ngModel)]="gameVariable.profilePic">
  </div> -->

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="clickOk()"
    [disabled]="gameVariable.name.length == 0 || !this.letterCheck.playerNameContainsLetters || gameVariable.game.player_images.length == 0"
    [mat-dialog-close]="gameVariable.name && gameVariable.profilePic" cdkFocusInitial>Ok</button>
</div>