.img-animals {
    height: auto; 
    width: 35px; 
    cursor: pointer;
    margin: 5px;

    &:hover {
        filter: brightness(1.1);
    }
}

.img-duck {
    background: url("https://icons8.com/icon/set/animals/office");
}

.profilePictureSelected {
    background: #3F51B5;
    border-radius: 100px;
    padding: 2.5px;
    margin: 2.5px;
}

.option-field{
    height: 75px !important;
    div{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
}

@media (max-width: 300px) {
    .div-name  {
        width: 90%;
    }
}